VITE_FIREBASE_API_KEY=AIzaSyBuG-PiHWwQ8lLqVh5NTkruaPru_G1Ta0E
VITE_FIREBASE_AUTH_DOMAIN=fitness-app-e7a59.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fitness-app-e7a59
VITE_FIREBASE_STORAGE_BUCKET=fitness-app-e7a59.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=265722878411
VITE_FIREBASE_APP_ID=1:265722878411:web:31aa1ba0945ec9d3bf3e4e
